.modu {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;

    .slick-dots-top {
        position: relative !important;
        top: -355px !important;
        float: right;
        margin-right: 100px;
        .slick-active {
            button {
                background-color: #1088f2 !important;
            }
        }
        li {
            width: 12px !important;

            button {
                opacity: 0.8 !important;
                width: 12px !important;
                height: 12px !important;
                border-radius: 30% !important;
                background-color: #ddd !important;
            }
        }
    }

    .evenmore {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: -33px;
    }

    .items {
        padding: 10px 0 0 0;
        display: flex !important;
        justify-content: space-between;

        .item {
            width: 285px;
            height: 320px;
            background-color: #fff;
            border-radius: 4px;
            overflow: hidden;

            .xinxi {
                padding: 0 10px;
                line-height: 30px;

                .title {
                    width: 100%;
                    font-weight: bold;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:hover {
                        color: #1088f2;
                        cursor: pointer;
                    }
                }

                .equipment {
                    color: #1088f2;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .user {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .user_l {
                        width: 150px;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
                        // justify-content: space-between;
                        overflow: hidden;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        cursor: pointer;

                        &:hover {
                            color: #1088f2;
                        }
                    }

                    .user_r {
                        // width: 70px;
                        overflow: hidden;
                        white-space: nowrap;
                        // text-overflow: ellipsis;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
