.home {
    .content {
        padding-bottom: 50px;
        width: 1200px;
        // border: 1px solid red;
        margin: 0 auto;

        .slick-dots {
            position: relative;
            top: -30px;
            // float: right;
            .slick-active {
                button {
                    background-color: #1088f2 !important;
                }
            }
            li {
                width: 12px !important;

                button {
                    opacity: 0.8 !important;
                    width: 12px !important;
                    height: 12px !important;
                    border-radius: 30% !important;
                    background-color: #ddd !important;
                }
            }
        }

        .weights {
            .title {
                font-weight: bold;
                font-size: 28px;
                color: rgba(0, 0, 0, 0.85);
            }

            .items {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;

                .item {
                    width: 180px;
                    // border: 1px solid red;
                    cursor: pointer;

                    .cover {
                        overflow: hidden;
                        border-radius: 4px;
                        &:hover > img {
                            transform: scale(1.1);
                        }

                        img {
                            width: 100%;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
    .swiper {
        background-color: #f7f8f9;
        min-width: 1200px;
        padding: 0 0 40px 0;
        .head {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            background-color: #fff;
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
            position: sticky;
            top: 60px;
            z-index: 99;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid #007aff;
                height: 100%;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .hotlable {
            width: 1200px;
            margin: -30px auto 0;

            .slick-dots-top {
                position: relative !important;
                top: -205px !important;
                float: right;
                margin-right: 100px;
                .slick-active {
                    button {
                        background-color: #1088f2 !important;
                    }
                }
                li {
                    width: 12px !important;

                    button {
                        opacity: 0.8 !important;
                        width: 12px !important;
                        height: 12px !important;
                        border-radius: 30% !important;
                        background-color: #ddd !important;
                    }
                }
            }

            .evenmore {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .title {
                font-size: 20px;
            }

            .items {
                display: flex !important;
                justify-content: space-between;

                .item {
                    width: 183px;
                    height: 171px;
                    background-color: #fff;
                    margin-top: 15px;
                    cursor: pointer;
                    border-radius: 4px;
                    overflow: hidden;

                    &:hover > .name {
                        color: #1088f2;
                    }

                    img {
                        width: 100%;
                    }

                    .name {
                        text-align: center;
                        line-height: 3;
                        color: #333;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
