.slick-dots {
    padding-bottom: 10px;
    .slick-active {
        button {
            background-color: #1088f2 !important;
        }
    }
    li {
        width: 12px !important;

        button {
            opacity: 0.8 !important;
            width: 12px !important;
            height: 12px !important;
            border-radius: 30% !important;
        }
    }
}
