.slick-dots {
    padding-bottom: 10px;
    .slick-active {
        button {
            background-color: #1088f2 !important;
        }
    }
    li {
        width: 12px !important;

        button {
            opacity: 0.8 !important;
            width: 12px !important;
            height: 12px !important;
            border-radius: 30% !important;
        }
    }
}

.content {
    padding-bottom: 50px;
    width: 1200px;
    // border: 1px solid red;
    margin: 0 auto;

    .weights {
        .title {
            font-weight: bold;
            font-size: 28px;
            color: rgba(0, 0, 0, 0.85);
        }

        .items {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;

            .item {
                width: 180px;
                // border: 1px solid red;
                cursor: pointer;

                .cover {
                    overflow: hidden;
                    &:hover > img {
                        transform: scale(1.1);
                    }

                    img {
                        width: 100%;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}

.swiper {
    height: 1900px;
    background-color: #f7f8f9;
    .head {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        background-color: #fff;
        box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
        position: sticky;
        top: 60px;
        z-index: 99;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid #007aff;
            height: 100%;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
