.explore {
    .head {
        height: 60px;
        background-color: #fff;
        position: sticky;
        top: 60px;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
        z-index: 999;
        .navs {
            width: 1200px;
            height: 60px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 14px;
            font-weight: bold;
            color: #262626;
            padding: 0 300px;

            .active {
                border-bottom: 2px solid #007aff !important;
                cursor: default !important;
                &:hover {
                    color: #262626 !important;
                }
            }

            .nav {
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
                border-bottom: 2px solid transparent;

                &:hover {
                    color: #007aff;
                }
            }
        }
    }

    .content {
        min-height: 100vh;
        // border: 1px solid red;
        background-color: #f7f8f9;

        .items {
            // border: 1px solid red;
            padding: 20px 0;
            width: 1400px;
            margin: 0 auto;
            column-count: 4;

            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            // grid-auto-rows: 0;
            // grid-auto-flow: dense;
            // grid-gap: 20px;

            .item {
                break-inside: avoid;
                // display: inline-block;
                width: 340px;
                // height: 260px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
