header {
    min-width: 1200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #000;

    .logo {
        width: 100px;
    }

    nav {
        font-size: 14px;
        width: 30%;
        min-width: 400px;
        margin: 0 auto;
        color: #999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;

        a:hover {
            color: #fff;
            font-weight: 600;
        }

        .active {
            color: #fff;
            font-weight: 600;
        }
    }

    .login {
        // width: 5%;
        width: 80px;
        display: flex;
        justify-content: space-between;
        color: #999;

        div:hover {
            color: #fff;
            font-weight: 600;
            cursor: pointer;
        }
    }
}
